{% ckan_extends %}

        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
          </tr>
        {%- endblock -%}

        {%- block resource_fields -%}
          {{ super() }})

          {% if (res.size) %}
          <tr>
            <th scope="row">{{ _('Size') }}</th>
            <td>{{ res.size }} bytes</td>
          </tr>
          {% endif %}
        {%- endblock -%}
 
